.container {
    max-width: 1260px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}


.section__text-wrap {
    display: block;
    margin-bottom: 40px;
    max-width: 620px;
    margin-right: auto;
    p {
        display: block;
        font-size: 16px;
        color: $black;
        margin: 0;
        line-height: 1.3;
    }
}

.section__title-wrap {
    margin-bottom: 40px;    
    position: relative;
    padding-left: 20px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
        background-color: $color;
    }
}

.section-title {
    font-size: 32px;
    color: #000;
    margin: 0;
    display: block;
    width: fit-content;
}

.main-btn {
    padding: 10px 20px;
    max-width: 160px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: .35s ease;
    background-color: $color;
    color: $white;
    font-size: 18px;
    cursor: pointer;
    &.reverse {
        background-color: #fff;
        color: $color;
    }
    &:hover {
        background-color: $white;
        color: $color;
    }
}

.breadcrumbs {
    padding: 30px 0 20px;
    box-sizing: border-box;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        a {
            display: block;
            color: $color;
            text-decoration: none;
            margin-right: 20px;
            &:last-child{
                 margin-right: 0;
                 &::before {
                    display: none;
                 }
                 color: #000;
                 pointer-events: none;
                 &:hover {
                    text-decoration: none;
                 }
            }
            position: relative;
            &:hover {
                text-decoration: underline;
            }
            &::before {
                content: '';
                position: absolute;
                right: -10px;
                top: calc(50% - 2px);
                width: 4px;
                height: 4px;
                background-color: $color;
                border-radius: 50%;
            }
        }
    }
}

.notice-wrap {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid $color;
    border-radius: 10px;
    padding: 40px 30px;
    .main-btn {
        max-width: 480px;
        width: 100%;
        box-sizing: border-box;
    }
}