$color: #0066CC;
$white: #e6e6e6;
$black: #0e0e0e;
$color-trans: #0066ccbb;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'normalize';
@import 'global';

@import 'components/header';
@import 'components/hero';
@import 'components/edge';
@import 'components/services';
@import 'components/reviews';
@import 'components/docs';
@import 'components/gallery';
@import 'components/contacts';
@import 'components/prods';
@import 'components/breaker';
@import 'components/tables';
@import 'components/footer';


@import 'components/about';