
.about {
    padding: 40px 0;
    box-sizing: border-box;
		// .about__title

		&__title {
		}

		// .about__wrap

		&__wrap {
            display: flex;
            align-items: center;
		}

		// .about__img

		&__img {
            width: 40%;
            margin-right: 30px;
            img {
                display: block;
                max-width: 100%;
                overflow: hidden;
                border-radius: 10px;
            }
		}

		// .about__text

		&__text {
            width: 60%;
            text-align: right;
            h2 {
                margin: 0;
                font-size: 24px;
                display: block;
                margin-bottom: 20px;
            }
            p {
                font-size: 16px;
                margin: 0;
                margin-bottom: 20px;
            }
            .main-btn {
                border: 1px solid $color;
                color: $color;
                background-color: transparent;
            }
		}
}
.section {

		// .section__title-wrap

		&__title-wrap {
		}
}


@media(max-width:768px) {
    .about {
        &__wrap {
            width: 100%;
            margin: 0;
            box-sizing: border-box;
        }
        &__text {
            margin: 0;
            width: 100%;
            max-width: none;
            box-sizing: border-box;
            text-align: left;
            .for-mobile-about {
                width: 100%;
            }
            .about__img {
                width: 100%;
                box-sizing: border-box;
                margin: 10px 0;
                height: 280px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

    }
}

@media(max-width:560px) {
    .about {
        &__text {
            h2 {
                font-size: 18px;
            }

           
        }
        &__action {
            .main-btn {
                max-width: none;
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
}
