.hero {
    box-sizing: border-box;
    // .hero__wrap
    padding: 70px 0 80px;
    box-sizing: border-box;
    background: linear-gradient(135deg, #e3f2fd, #bbdefb);
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        right: -5%;
        top: -15%;
        background-image: url(../../assets/imgs/dna1.png);
        width: 40%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top;
    }

    &__wrap {
        position: relative;
    }

    // .hero__title

    &__title {
        margin-bottom: 40px;
        max-width: 860px;
        h1 {
            font-size: 36px;
            max-width: 980px;
            margin: 0;
            line-height: 1.1;
            color: #0d47a1;
        }
        p {
            font-size: 16px;
        }
    }

    // .hero__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
        max-width: 720px;
        .item {
            width: calc(50% - 10px);
            box-sizing: border-box;
            background-color: #fff;
            font-weight: 700;
            margin: 0 5px 10px;
            padding: 15px;
            text-align: center;
            border-radius: 8px;
             color: #0d47a1;
             text-decoration: none;
             transition: .35s ease;
             &:hover {
                background-color: #0d48a10a;
             }
        }
    }

    // .hero__bot

    &__bot {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span {
            display: block;
            text-align: left;
            font-size: 18px;
            max-width: 480px;
        }
        .action {
            .main-btn {
                background-color: #0d47a1;
                color: #fff;
                padding: 10px 25px;
            }
        }
    }
}


@media(max-width:768px) {
    .hero {
        &__wrap {
            padding: 35px;
        }

        &__title {
            margin-bottom: 30px;

            h1 {
                font-size: 28px;
            }
        }

        &__items {
            .item {
                margin: 0 0 15px;
                width: 100%;
                box-sizing: border-box;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }


    }
}

@media(max-width:560px) {
    .hero {
        padding: 40px 0 40px;

        &__wrap {
            text-align: center;
            padding: 35px 20px;
        }

        &__title {
            h1 {
                font-size: 24px;
            }
        }

        &__items {
            margin: 0 0 30px;
        }

        &__bot {
            flex-direction: column;
            align-items: center;

            .item {
                span {
                    text-align: center;
                }
            }

            .action {
                margin-left: 0;
                width: 100%;
                overscroll-behavior-block: xb;
                margin-top: 20px;

                button.main-btn {
                    max-width: none;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }
}