.products {
    box-sizing: border-box;
    padding: 40px 0;
    // .products__title

    &__title {
    }

    // .products__items

    &__items {
        display: flex;
        margin: 0 -10px;
        flex-wrap: wrap;
    }

    // .products__item

    &__item {
        width: calc(33.33% - 20px);
        margin: 0 10px 20px;
        box-sizing: border-box;
        background-color: $color;
        border-radius: 15px;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
        .img {
            width: 100%;
            height: 240px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text {
            padding: 20px 25px;
            box-sizing: border-box;
            h3 {
                margin: 0;
                box-sizing: border-box;
                margin-bottom: 20px;
                font-size: 20px;
            }
            .desc {
                font-size: 14px;
                
                margin-bottom: 25px;
            }
            .fake-btn {
                max-width: none;
                width: 100%;
                box-sizing: border-box;
                display: block;
            }
        }
    }
}

@media(max-width:920px) {
    .products {
        &__item {
            width: calc(50% - 20px);
            box-sizing: border-box;
        }
    }
}

@media(max-width:560px) {
    .products {
        &__items {
            margin: 0;
        }
        &__item {
            width: 100%;
            box-sizing: border-box;
            margin: 0 0 15px;
            box-sizing: border-box;
            .img {
                height: 180px;
            }
        }
    }
}

