.reviews {
    padding: 40px 0;
    box-sizing: border-box;
    // .reviews__title

    &__title {
    }

    // .reviews__slider

    &__slider {
    }

    // .reviews__slider-wrap

    &__slider-wrap {
    }

    &__action {
        display: flex;
        margin-top: 10px;
        button {
            margin-left: auto;
            max-width: fit-content;
            border: 1px solid $color;
            color: $color;
            background-color: transparent;
        }
    }

    // .reviews__slider-item

    &__slider-item {
        background-color: $color;
        color: #fff;
        padding: 30px 20px;
        box-sizing: border-box;
        border-radius: 10px;
        .reason {
            font-size: 14px;
        }
        .date {
            font-size: 14px;
            margin-bottom: 15px;
        }
        .name {
            font-size: 20px;
            font-weight: 500;
            span {
                display: block;
                width: fit-content;
                margin-bottom: 10px;
            }
        }
        .text {
            p {
                font-size: 18px;
                margin: 0;
                padding: 0;
            }
        }
    }
}

